.three-stars{
    background: url('./3-stars.png') no-repeat;
    height: 20px;
    display: inline-block;
}

.ten-bis-icon{
    background: url('./10-bis.jpeg') no-repeat;
    height: 20px;
    width: 40px;
    display: inline-block;
}

.restaurants-menu{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.restaurants-map{
    width: 70%;
    display: inline-block;
}

.cuisine-font{
    font-size: 30px;
    font-family: ef_cuisinesregular;
}

.filter-container{
    width: 30%;
    display: inline-block;
    padding-right: 1.6%;
    padding-left: 1.6%;
}

.filter-select-box{
    width: 100%;
}

.filter-text {

}
