.restaurant-screen {
    text-align: center;
}

.ten-bis-icon, .cuisine-icon{
    display: block;
}

.reviews{
    width: 400px;
    text-align: left;
    display: inline-block;
}

.review-line{
    border: 1px solid #999999;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 4px;
    background-color: lightblue;
}

button{
    width: 100%;
    padding: 5px 0;
    margin-bottom: 5px;
}
